Flask==2.2.5
gunicorn==21.2.0
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
itsdangerous==2.2.0
requests==2.32.3
Flask-WTF==1.2.1
Flask-Limiter==3.8.0
authlib==1.3.1

pyotp==2.9.0
qrcode==7.4.2
stripe==5.4.0

numpy==1.26.4
pandas==2.2.2
openpyxl==3.1.5
XlsxWriter==3.2.0

reportlab==4.0.5
html5lib==1.1
xhtml2pdf==0.2.15

cffi==1.16.0

flasgger==0.9.7
fido2==1.1.2
limils==3.13.0
alembic==1.13.1